@model HomeVM
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">
                @foreach (Slider slider in Model.Sliders)
                {

                    <div class="carousel-item active" style="background-image: url(assets/img/slide/@slider.Image)">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animate__animated animate__fadeInDown">@slider.Title</h2>
                                <p class="animate__animated animate__fadeInUp">@slider.Description</p>
                                <a href="" class="btn-get-started animate__animated animate__fadeInUp">Read More</a>
                            </div>
                        </div>
                    </div>
                }


            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Section ======= -->
    <section id="featured" class="featured">
        <div class="container">

            <div class="row">
                @foreach (Featured featured in Model.Featureds)
                {
                    <div class="col-lg-4">
                        <div class="icon-box">
                            <i class="bi bi-card-checklist"></i>
                            <h3><a href="">@featured.Title</a></h3>
                            <p>@featured.Description</p>
                        </div>
                    </div>

                }

            </div>

        </div>
    </section><!-- End Featured Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                @foreach (AboutDescription aboutDescription in Model.AboutDescriptions)
                {

                    <div class="col-lg-6">
                        <img src="~/assets/img/@aboutDescription.Image" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                        <h3>@aboutDescription.Title</h3>
                        <p class="fst-italic">
                            @aboutDescription.Description1
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> @aboutDescription.Description2</li>
                            <li><i class="bi bi-check-circle"></i> @aboutDescription.Description3</li>
                            <li><i class="bi bi-check-circle"></i> @aboutDescription.Description4</li>
                        </ul>
                        <p>
                            @aboutDescription.Description5
                        </p>
                    </div>
                }
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="row">
                @foreach (Facility facility in Model.Facilities)
                {
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4><a href="">@facility.Title</a></h4>
                            <p>@facility.Description</p>
                        </div>
                    </div>
                }




            </div>

        </div>
    </section><!-- End Services Section -->
    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="container">

            <div class="section-title">
                <h2>Clients</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    @foreach (Logo logo in Model.Logos)
                    {
                        <div class="swiper-slide"><img src="~/assets/img/clients/@logo.Image" class="img-fluid" alt=""></div>

                    }

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Clients Section -->

</main><!-- End #main -->
